blink {
    ul, menu, dir {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1__qem;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        -webkit-padding-start: 40px
    }
    ol {
        display: block;
        list-style-type: decimal;
        -webkit-margin-before: 1__qem;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        -webkit-padding-start: 40px
    }
    dl {
        display: block;
        -webkit-margin-before: 1__qem;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
    }
    fieldset {
        display: block;
        -webkit-margin-start: 2px;
        -webkit-margin-end: 2px;
        -webkit-padding-before: 0.35em;
        -webkit-padding-start: 0.75em;
        -webkit-padding-end: 0.75em;
        -webkit-padding-after: 0.625em;
        border: 2px groove ThreeDFace;
        min-width: -webkit-min-content;
    }
    pre, xmp, plaintext, listing {
        display: block;
        font-family: monospace;
        white-space: pre;
        margin: 1__qem 0
    }
    summary::-webkit-details-marker {
        display: inline-block;
        width: 0.66em;
        height: 0.66em;
        -webkit-margin-end: 0.4em;
    }
    p {
        display: block;
        -webkit-margin-before: 1__qem;
        -webkit-margin-after: 1__qem;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
    }
    blockquote {
        display: block;
        -webkit-margin-before: 1__qem;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 40px;
        -webkit-margin-end: 40px;
    }
    figure {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 40px;
        -webkit-margin-end: 40px;
    }
    hr {
        display: block;
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
        -webkit-margin-start: auto;
        -webkit-margin-end: auto;
        border-style: inset;
        border-width: 1px
    }
    h1 {
        display: block;
        font-size: 2em;
        -webkit-margin-before: 0.67__qem;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        font-weight: bold
    }
    h2 {
        display: block;
        font-size: 1.5em;
        -webkit-margin-before: 0.83__qem;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        font-weight: bold
    }
    h3 {
        display: block;
        font-size: 1.17em;
        -webkit-margin-before: 1__qem;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        font-weight: bold
    }
    h4 {
        display: block;
        -webkit-margin-before: 1.33__qem;
        -webkit-margin-after: 1.33em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        font-weight: bold
    }
    h5 {
        display: block;
        font-size: .83em;
        -webkit-margin-before: 1.67__qem;
        -webkit-margin-after: 1.67em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        font-weight: bold
    }
    h6 {
        display: block;
        font-size: .67em;
        -webkit-margin-before: 2.33__qem;
        -webkit-margin-after: 2.33em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        font-weight: bold
    }
    ul, menu, dir {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1__qem;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        -webkit-padding-start: 40px
    }
    ol {
        display: block;
        list-style-type: decimal;
        -webkit-margin-before: 1__qem;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        -webkit-padding-start: 40px
    }
    dl {
        display: block;
        -webkit-margin-before: 1__qem;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
    }
    ol ul, ul ol, ul ul, ol ol {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0
    }
    pre, xmp, plaintext, listing {
        display: block;
        font-family: monospace;
        white-space: pre;
        margin: 1__qem 0
    }
    summary::-webkit-details-marker {
        display: inline-block;
        width: 0.66em;
        height: 0.66em;
        -webkit-margin-end: 0.4em;
    }
}
trident {
}
gecko {
}
webkit {
}
